body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}
.a:hover {
  color: green;
}
.main {
  background-color: #ccc;
  margin: 150px auto;
}
.main_in,
.main_up {
  margin: 20px 20px;
  background-color:grey;
  color: white;
}
